@font-face {  
  font-family: "Mario";  
  src: url( mario.eot ); /* IE */  
  src: local("Mario"), url(mario.ttf) format("truetype"); /* non-IE */  
}

#testObj{
	float: left;
	height: 200px;
	width: 350px;
	background-color: #EEE;
	border: 2px solid #CCC;
	
	box-shadow: 0px 0px 20px #BBB;
	-webkit-box-shadow: 0px 0px 20px #BBB;
	-moz-box-shadow: 0px 0px 20px #BBB;
	-o-box-shadow: 0px 0px 20px #BBB;
	-ms-box-shadow: 0px 0px 20px #BBB;
	
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
}

#obj1{
	color: #880000;
	font-weight: bold;
	margin-left: 20px;
}

#obj2{
	float: left;
	margin-top: 100px;
}

#obj3{
	margin-left: 200px;
}

#obj4{
	background: #000;
	float: left;
	width: 150px;
	color: #FFF;
}

#fontFaceTest{
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}

#obj3{
	background: #000;
}