#precarga{
	width: 250px;
	height: 20px;
	padding: 0px;
	margin: 0px auto;
	
	border: 5px solid #79B5FB;
	overflow: hidden;
	
	display: none;
}

#precBarra{
	background: #9CD6FF;
	width: 0px;
	height: 20px;
	overflow: hidden;
}

.precFila{
	width: 300px;
	height: 1px;
}