html{ /* IE auto scroll */
	overflow: auto;
}

body{
	margin: 0px;
	color: #000;
	height: 100%;
	width: 100%;
	background: #99D5FF;
	font-family: Gill Sans / Gill Sans MT, sans-serif;
	font-size: 16px;
}